<ion-view view-title="Directories">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-grid">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="detail in playlists" href="#/app/detail/{{detail.categoryid}}/{{$index}}" class="item item-thumbnail-left">
                <img ng-src="img/thumbnails/{{detail.thumbnail}}">
                <h2>{{detail.name}}</h2>
                <p>{{detail.location}}</p>
                <p class="positive">{{detail.contact_no}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
