<ion-view view-title="{{}}">
    <ion-content>
        <ion-slide-box active-slide="myActiveSlide">
            <ion-slide ng-repeat="photo in detalye.images">
                <div class="box">
                    <img class="full-image" ng-src="{{photo.src}}">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="list card">
            <div class="item item-avatar">
                <img src="{{detalye.logo}}">
                <h2>{{Location}} </h2>
                <p>{{Phone}}</p>
            </div>
            <div class="item item-body">
                <p>
                    {{detalye.details}}
                </p>
                <p>
                    {{detalye.details}}
                    <a href="#" class="subdued">1000k Like</a>
                    <a href="#" class="subdued">200k Comments</a>
                </p>
            </div>
        </div>
        <div class="padding">
            <a href="tel:{{Phone}}" class="button button-block icon-right icon ion-ios-telephone-outline button-assertive">Call</a>
            <a href="#/app/map2" class="button button-block icon-right icon ion-ios-location-outline button-balanced">Map</a>
        </div>
    </ion-content>
</ion-view>
