<ion-view view-title="{{det.title}}">
    <ion-content>
        <ion-refresher pulling-icon="ion-arrow-down-c" on-refresh="doRefresh()"></ion-refresher>
        <ion-slide-box active-slide="myActiveSlide">
            <ion-slide ng-repeat="photo in det.images">
                <div class="box">
                    <img class="full-image" ng-src="{{photo.src}}">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="list card">
            <div class="item item-avatar">
                <img src="{{det.logo}}">
                <h2>{{det.Location}} </h2>
                <p>{{det.Phone}}</p>
            </div>
            <div class="item item-body">
                <p>
                    {{det.details}}
                </p>
            </div>
        </div>
        <div class="padding">
            <a href="tel:{{det.Phone}}" class="button button-block icon-right icon ion-ios-telephone-outline button-assertive">Call</a>
            <a ng-show="isConnected" href="#/app/map2" class="button button-block icon-right icon ion-ios-location-outline button-balanced">Map</a>
        </div>
    </ion-content>
</ion-view>
