<ion-view view-title="Restau Name">
    <ion-content>
        <ion-slide-box active-slide="myActiveSlide">
            <ion-slide ng-repeat="photo in photoarray">
                <div class="box">
                    <img class="full-image" ng-src="{{photo}}">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/jollibeelogo.jpg">
                <h2>{{Location}} </h2>
                <p>{{Phone}}</p>
            </div>
            <div class="item item-body" animation="slide-left-right-ios7">
                <p>
                    {{dscrptn}}
                </p>
                <p>
                    <a href="#" class="subdued">{{numoflikes}} Like</a>
                    <a href="#" class="subdued">{{numofcomments}} Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </div>
        <div style="padding:0px 8px 0px 8px">
            <a href="tel:{{Phone}}" class="button button-block icon-right icon ion-ios-telephone-outline button-assertive">Call</a>
        </div>
        <div style="padding:0px 8px 0px 8px">
            <a href="#/app/map2/{{}}" class="button button-block icon-right icon ion-ios-location-outline button-balanced">Map</a>
        </div>
    </ion-content>
</ion-view>
