<ion-view view-title="map1">
    <ion-content>
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        <div style="padding:0px 8px 0px 8px">
            <a href="#/app/submenu/{{}}" class="button button-block icon-right icon ion-ios-arrow-right button-calm">Find Near</a>
        </div>
        <div style="padding:0px 8px 0px 8px">
            <a href="#/app/submenu/{{}}" class="button button-block icon-right icon ion-ios-arrow-right button-calm">Load all</a>
        </div>
    </ion-content>
</ion-view>
