<ion-view view-title="Location">
    <ion-content>
      <div id="map_canvas">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents">
          <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">
          </ui-gmap-marker>        
        </ui-gmap-google-map>
      </div>
    </ion-content> 
		<div class="bar bar-footer bar-dark">
		   <div class="title item-icon-left">
		   	<i class="icon ion-navigate"></i>
		   </div>
		 </div>
    
</ion-view>
