<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar bar-header bar-g2g">
            <ion-nav-back-button class="button button-clear icon-left ion-chevron-left">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-clear icon-left ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">
        </ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left"  width="90">
        <ion-header-bar class="bar-g2g">
        </ion-header-bar>
        <ion-content class="gray-bg">
            <ion-list>
                <ion-item menu-close href="#/app/menus">
                    <i class="fa fa-home fa-3x balanced"></i>
                </ion-item>
                <ion-item menu-close href="#/app/search">
                    <i class="fa fa-search fa-3x assertive"></i>
                </ion-item>
                <ion-item menu-close href="#/app/about">
                    <i class="fa fa-question-circle fa-3x energized"></i>
                </ion-item>
                <ion-item menu-close href="#/app/update">
                    <i class="fa fa-download fa-3x royal"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
