<ion-view view-title="Grub2Go">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-grid">
        </button>
    </ion-nav-buttons>


    <ion-content>
    <div class="list">

        <a ng-repeat="menu in menus" 
           href="#/app/menudetails/{{$index}}"
           class="item item-thumbnail-left">

          <img ng-src="{{menu.image}}">
          <h2>{{ menu.title }}</h2>
          <h4>{{ menu.address }}</h4>
        </a>

      </div>
     
    </ion-content>
</ion-view>
