<ion-view view-title="Category">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-grid">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="playlist in playlists" href="#/app/directory/{{playlist.id}}" class="item item-thumbnail-left">
                <img ng-src="img/category/{{playlist.icon}}">
                <h2>{{playlist.title}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
