<ion-view view-title="Grub2Go">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-grid">
        </button>
    </ion-nav-buttons>


    <ion-content>
    <div class="list">

        <a ng-repeat="playlist in playlists" 
           href="#/app/playlists/{{playlist.id}}"
           class="item item-thumbnail-left">

          <img ng-src="{{playlist.image}}">
          <h2>{{ playlist.title }}</h2>
          <h4>{{ playlist.address }}</h4>
        </a>

      </div>
     
    </ion-content>
</ion-view>
