<ion-view view-title="Search">
    <div class="bar bar-subheader energized-bg item-input-inset">
        <label class="item-input-wrapper">
            <i class="ion-android-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="$parent.searchText" autocorrect="off">
            <button class="button button-clear" ng-click="clearSearch()" style="z-index:1024;">X</button>
        </label>
    </div>
    <ion-content class="has-subheader">
        <div class="list">
            <a ng-repeat="companyname in dat | filter:searchText " href="#/app/details/{{companyname.u_id}}" class="item item-thumbnail-left item-icon-right">
                <img ng-src="{{companyname.logo}}">
                <h2>{{companyname.title}}</h2>
                <h4>{{companyname.desc}}</h4>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
